
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}


.slider-container{
    width: 500px;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    position: relative;
}

.image-container {
    display: flex;
    /* width: 1500px; /* 3 images * 500px each */
    /* height: 300px;  */ 
    transition: transform 0.5s ease-in-out;
    
    
}
.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 30%;
    opacity: .5;
}
.btn.prev {
    left: 10px;
}
.btn.next {
    right: 10px;
}
.btn:hover {
    opacity: 1;
}

